:root{
    --fuente-principal: 'Lato', sans-serif;
    --color-primario: #570530;
    --color-secundario: #750550;
    --color-terciario: #980F5A;
}

html {
    font-size: 62.5%; /* 1 rem = 10 px */
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    font-family: XXXXX;
    font-size: 1.6rem;
    line-height: 2;
}

